.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 200px;
  width: 100%;
}

.header .header__logo {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
}

.header .header__navbar {
  padding-left: 505px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.header .header__navbar__nav-element {
  padding-right: 70px;
  text-decoration: none;
  color: black;
}

.header .header__navbar__Burger {
  display: none;
}

.header .header__navbar__Burger__line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}

.Banner {
  background-image: url("images/hero-banner.jpg");
  height: 725px;
}

.Banner .Banner__text1 {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding-top: 350px;
  padding-left: 500px;
  margin-bottom: 0px;
}

.Banner .Banner__text2 {
  font-size: 28px;
  font-weight: 500px;
  padding-left: 650px;
}

.About-Us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.About-Us .About-Us__text {
  padding-left: 420px;
  line-height: 1.6;
  font-size: 16px;
  color: #333333;
  padding-left: 220px;
  padding-top: 100px;
  padding-right: 80px;
}

.About-Us .About-Us__heading {
  padding-left: 200px;
  padding-top: 100px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16;
  color: #333333;
  border: 2px solid #333333;
  padding: 20px 40px;
  border-radius: 4px;
  margin-left: 600px;
  margin-top: 20px;
}

.Footer .Footer__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
  font-size: 36px;
  color: #333333;
  margin-top: 200px;
  margin-left: 500px;
}

.Footer .Footer__text__sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
  margin-left: 550px;
  padding-top: 34px;
  padding-bottom: 34px;
}

.Footer .Footer__icons {
  padding-left: 620px;
  margin-bottom: 100px;
}

.Gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
      grid-template-columns: 400px 400px 400px;
  grid-column-gap: 34px;
  grid-row-gap: 34px;
  margin-left: 100px;
}

.Gallery-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
  font-size: 30px;
  color: #333333;
  padding-left: 450px;
  margin-bottom: 50px;
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 50%;
  }
  .header .header__navbar {
    width: 50%;
    padding-left: 80px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 50%;
    padding-left: 0px;
  }
  .header .header__logo {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header .header__navbar__nav-element {
    font-size: 20px;
  }
  .Banner .Banner__text1 {
    font-size: 50px;
    padding-left: 100px;
  }
  .Banner .Banner__text2 {
    padding-left: 190px;
  }
  .About-Us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .About-Us .About-Us__heading {
    padding-left: 250px;
    padding-top: 9px;
  }
  .About-Us .About-Us__text {
    padding-left: 180px;
    padding-top: 9px;
  }
  button {
    margin-left: 200px;
    margin-top: 50px;
  }
  .Gallery-heading {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Gallery {
    width: 50%;
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
  }
  .Footer .Footer__text {
    margin-left: 100px;
    margin-top: 100px;
  }
  .Footer .Footer__text__sub {
    margin-left: 120px;
  }
  .Footer .Footer__text__sub {
    padding-left: 200px;
    padding-left: 10px;
  }
  .Footer .Footer__icons {
    padding-left: 190px;
  }
}
/*# sourceMappingURL=style.css.map */